API_GATEWAY_PORT=4000
GLOBAL_PREFIX=api
RABBIT_MQ=amqp://guest:guest@localhost:5672
AUTH_SERVICE_NAME=AUTH_SERVICE
AUTH_QUEUE_NAME=auth_queue

# JWT
JWT_SECRET=14ee39918ee725677f2166d9de571d682024edd6a883a7d61e30ff65e5a7e379
JWT_EXPIRES_IN=3600s

#CORS
CORS_ORIGIN=http://localhost:3000

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

#FACEBOOK
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:4000/api/auth/facebook/callback
