RABBIT_MQ=amqp://guest:guest@localhost:5672
QUEUE_NAME=PROJECT_QUEUE

#AUTH SERVICE
AUTH_SERVICE_NAME=AUTH_SERVICE
AUTH_QUEUE_NAME=AUTH_QUEUE


# Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=projectdb


#GEMINI
AI_API_KEY=
CHAT_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=gemini-embedding-2

#POSTGRE
PG_ID_NAME=postgres_vector_db
PG_HOST=localhost
PG_USER=admin
PG_PASSWORD=root
PG_NAME=root
PG_PORT=5432